a {
  color: red; text-decoration: none;
}
h1 {
  font-family: helvetica, arial;
  font-size: 48px;
  font-style: oblique;
}

body {
  background: linear-gradient(white, black);
}

p {
  position: fixed;
  width: 110px;
  height: 70px;
  margin-left: 86px;
  margin-top: 60px;
  color: #F4646C;
  background-color: black;
  font-family: helvetica;
  font-size: 24px;
  text-align: center;
}

h1 {
  width: 110px;
  height: 70px;
  margin-left: 90px;
  margin-top: 52px;
  color: #F4646C;
  background-color: black;
  text-align: center;
  font-size: 36px;
}

h4 {
  background-color: yellow;
  width: 110px;
  height: 30px;
  margin-left: 90px;
  margin-top: 25px
  background-color: black;
  color: #F4646C;
  margin-top: -25px;
  font-family: helvetica;
  font-size: 23px;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;

  border-left: 60px solid #64036D;
}

.arrow-left {
  width: 0;
  height: 0;
  float: top;
  margin-left: 1230px;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;

  border-right:60px solid #FDF671;
}

.arrow-down {
  width: 0;
  height: 0;
  float: right;
  margin-top: -50px;
  position: relative;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 60px solid blue;
  margin-left: 0px;
}

.giphy {
    display: block;
    width: 1px;
    height: auto;
    margin-left: 90px;
    margin-right: auto;
    margin-top: 350px;
}
